* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
main {
    background-image: url(./bg-main-desktop.png);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
}
main aside:nth-child(1) {
    width: 80%;
    padding: 5vw 8vw;
}
main aside:nth-child(2) {
    width: 20%;
}

main aside:nth-child(1) img {
    width: 10vw;
}

aside:nth-child(1) figure {
    margin-top: 8vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

aside:nth-child(1) figure h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    color: rgb(25, 24, 38);
}
aside:nth-child(1) figure p {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: rgb(25, 24, 38);
}
footer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
}
footer figure img {
       width: 10vw;   
       margin-left: 100px;
}
footer p {
    font-size: 15px;
}
footer p a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

footer div {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer div img {
    width: 13%;
    margin-right: 20px;

}

.container {
    background: rgb(25, 24, 38);
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    position: relative;
    justify-content: center;
}

.container .mobile {
    width: 20vw;
    height: 120%;
    transform: translateY(-7rem);
    
}

.container div:nth-child(2) {
    width: 25%;
}

.card{
    background-color: rgb(250, 115, 82);
     width: 35%;
     border-radius: 20px;
     padding: 2vw;
     height: fit-content;
     transform: translateY(4rem);

}

.card-head {
    width: 100%  !important;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-head h1 {
    font-size: 40px;
    font-weight: 700;
}
.card-head p {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}
.card-head div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.card-head div h1 {
    font-size: 65px;
    font-weight: 700;

}
.card-head div p {
    font-size: 20px;
    font-weight: 400;
}

.card-body {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-body button {
    border: none;
    padding: 0.8rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;

}
.card-body button:nth-child(1) {
    background-color: black;
    color: white;
}
.card-body button:nth-child(2) {

}

























/*Responsive design*/
@media (max-width:1000px) {
aside:nth-child(1) figure h1 {
    font-size: 55px;
    line-height: 55px;
    text-align: center;

    
 }

 main aside:nth-child(1) img {
    width: 30vw;
 }

 .container {
    flex-direction: row;
    height: fit-content;
    align-items: center;
    gap: 20px;
    margin: 2rem 0;
 }
 .container div:nth-child(2) {
    display: none;
 }

 .container .mobile, .card {
    transform: none;
    width: 35vw;
 }
 main {
    height: fit-content;
 }


}

@media (max-width:700px) {
    .container {
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0;
        width: 100%;
    }

    .container .mobile, .card {
        transform: none;
        width: 80%;
    }
    footer {
        flex-direction: column;
        align-items: center;
    
    }
    footer figure img {
    width: 40vw;
    padding-right: 40px;
          

    }
    footer div img {
        width: 10vw ;
        margin-left: 5px;
    }
}

@media (max-width: 650px) {
    aside:nth-child(1) figure h1 {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
    main aside:nth-child(1) {
        width: 100%;
        padding: 5vw 10vw;
    }
    main aside:nth-child(2) {
        width: 20%;
        display: none;
    }
    
    aside:nth-child(1) figure p {
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
    }
}